@tailwind base;
@tailwind components;
@tailwind utilities;

/* test sergio */
.bg-gray-100{
    background: rgb(88,24,69);
    background: linear-gradient(150deg, rgba(88,24,69,1) 18%, rgba(199,0,57,1) 50%, rgba(255,195,15,1) 100%);
}
.bg-white{
    background-color: unset;
}
.cardLogin{
    top: 0;
    left: 0;
}
.cardRegister{
    top: 0;
    right: 0;
}
.cardLogin,
.cardRegister{
    box-sizing: border-box;
    position: absolute;
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: initial!important;
    background-color: rgba(0, 0, 0, 0.25);
}
.mt-6{
    margin-top: 0;
}
.titleBreeze{
    height: 20%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titleBreeze h1{
    color: white;
    text-transform: uppercase;
    font-size: 40px;
}
.formLogin,
.formRegister{
    height: 55%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.formLogin label,
.formLogin a,
.formLogin span,
.formRegister label,
.formRegister a,
.formRegister label {
    color: white;
}

.formLogin input,
.formRegister input {
    border-radius: 0;
    border: none;
    border-bottom: 2px solid white;
    background-color: initial;  
}
.formLogin input:focus,
.formRegister input:focus{
    color: white;
}
.inscriptionLink{
    color: white;
    text-transform: uppercase;
}